# folder
.vscode
./dataset
# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy
/images
/mirflickr
/degraded
/augmented
/uploads
/original
/data 
/source
/eccv_2014_deepresolution.pdf
/models 
/venv
/env
/HR1
/LR1
/HR2
/LR2
/result
/results

