# folder
.vscode
./dataset
# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy
/images
/mirflickr
/degraded
/augmented
/uploads
/original
/data 
/LR
/HR 
/source
/eccv_2014_deepresolution.pdf
/models
/venv
/HR1
/LR1
/HR2
/LR2
/GAN
/gen_e_1.h5
/gen_e_2.h5
/gen_e_3.h5
/gen_e_4.h5
/gen_e_5.h5
